@import "./variables.scss";
@import "normalize.css";
@import "picnic/src/picnic.scss";
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0");

// picnic.css is terrible.

body {
  font-family: Nunito, "Helvetica Neue", Helvetica, "Source Sans Pro",
    "Noto Sans", Arial, sans-serif;
}

span.brand {
  color: transparent;
  font-weight: 800;
  background-clip: text;
  background-image: $brand-gradient;
}

a[role="button"] {
  @extend button;
}

input {
  border: 1px solid #{lighten($picnic-dull, 25%)};
  background-color: #{lighten($picnic-dull, 25%)};
}

p.error:empty {
  display: none;
}

input[type="file"] {
  border: none;
}

.error {
  color: var(--error-color);
}
